{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Reset Password{% endblock title %}

{% block page_content %}
    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">Lost or forgotten your password?</h1>
                    <p>Please specify your email address below and we'll email you instructions for resetting it.</p>
                </div>
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        {% bootstrap_form form %}
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">Reset My Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock page_content %}




