{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Password Changed{% endblock title %}

{% block page_content %}
    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">Password Change Successful</h1>
                    <p>Your password was changed.</p>
                    <p><a href="{% url 'index' %}" class="btn btn-primary btn-lg">Home</a></p>
                </div>
            </div>
        </div>
    </div>
{% endblock page_content %}
