{% extends 'base.html' %}
{% load bootstrap3 %}

{% block title %}Set New Password{% endblock title %}

{% block page_content %}
    <div class="cls-content">
        <div class="cls-content-lg panel">
            <div class="panel-body">
                <div class="mar-ver pad-btm">
                    <h1 class="h3">Please enter your new password twice so we can verify you typed it in correctly.</h1>
                </div>
                <form method="post">
                    {% csrf_token %}

                    <div class="form-group">
                        {% bootstrap_form form %}
                    </div>
                    <button class="btn btn-primary btn-lg btn-block">Change My Password</button>
                </form>
            </div>
        </div>
    </div>
{% endblock page_content %}




